.header-pics {
    margin: 0 auto;
    align-self: center;
    max-width: 750px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px; 
    justify-items: center; 
    align-items: center;
}

.spacer {
    height: 50px;
}

.pic {
    background-size: cover;
    background-position: center;
    width: 210px;
    height: 500px;

    color: bisque;
    font-size: 120px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.info-share {
    margin: auto;
    min-width: 30vw;
    max-width: 50vw;
    display: flex;
    justify-content: space-between; 
}

.info .username {
    font-size: 50px;
    line-height: 0;
    letter-spacing: 3px;
}

.info .bio {
    font-size: 25px;
    line-height: 0;
    letter-spacing: 3px;
}

.info-share .info {
    display: inline;
    float: left;
}

.info-share .share {
    display: inline;
    float: right;
    padding: 20px;
}

.share-button {
    padding: 30px 60px;
    border: 3px solid #664e3c;
    border-radius: 15px;

    background-color: white;
    color: black;

    text-align: center;
    font-size: 24px;
    transition-duration: 0.4s;
}

.share-button:hover {
    background-color: #664e3c;
    color: white;
}

.preview-about-content {
    margin: auto;
    min-width: 40vw;
    max-width: 50vw;
}

.preview-about-content .about-content {
    display: inline;
    float: right;
}

.preview {
    display: grid;
    float: left;
    grid-template-columns: 1fr;
    row-gap: 15px;

    background-color: #664e3c;
    border: 15px solid #664e3c;
}

.content {
    float: right;
    width: 450px; 
    height: 800px;
    padding: 10px;
    
    border: 3px solid black;
    text-align: center;
}

.pre {
    background-size: cover;
    background-position: center;
    width: 150px;
    height: 200px;
    filter: grayscale(100%);
}

.pre:hover {
    filter: grayscale(0%);
}

.about {
    height: 150px;
    width: 450px;
    background-color: pink;

    font-size: 22px;
    font-weight: bold;
    color: #664e3c;
    right: 0px;
    padding: 10px;
}

.about p {
    margin-top: 10px;    
    margin-bottom: 0;
}