.header-pics {
    margin: 0 auto;
    align-self: center;
    max-width: 750px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px; 
    justify-items: center; 
    align-items: center;
}

.spacer {
    height: 50px;
}

.pic {
    background-size: cover;
    background-position: center;
    width: 210px;
    height: 500px;

    color: bisque;
    font-size: 120px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.info {
    margin: auto;
    max-width: 70vw;
}

.info .username {
    font-size: 50px;
    line-height: 0;
    letter-spacing: 3px;
}

.info .bio {
    font-size: 25px;
    line-height: 0;
    letter-spacing: 3px;
}